---
layout: post
title: Bundle Config & Bundle Open
---
%h3 {{ page.title }}

%p I wanted to be able to open up gems easily from the command line.  I tried `bundle open unicorn` and got the following error:

%p To open a bundled gem, set $EDITOR or $BUNDLER_EDITOR

%p To get rid of this error I used `export BUNDLER_EDITOR=mate`.  This causes TextMate to open the gem of choice when I call `bundle open unicorn`

  {% highlight ruby %}
    #! /usr/bin/env ruby

    url_pattern = %r{https?://\S+}i
    url_antipattern = %r{[^\w/]+$}i

    `pbpaste`.scan(url_pattern) do |url|
      url.sub!(url_antipattern, '')
      url.gsub!('"', '\"')  # Avoid command injection
      system(%Q{open "#{url}"})
    end
  {% endhighlight %}